[user]
    name = Takumi Yoshida
    email = umibooose@gmail.com

[alias]
    # add
    a  = add
    ad = !git-fzf-add
    # diff
    d = diff
    # commit
    co = commit
    cm = commit -m
    cv = commit -v
    ca = commit --ammend -m
    # switch
    sw  = switch
    new = switch -c
    cd = !git-cd # ~/bin/git-cd
    # status
    st = status
    ss = status -s
    # branch
    br = branch
    ba = branch -abberv
    bm = branch --merged
    bn = branch --no-merged
    cleanup = !git branch --merged | egrep -v '\\*|main|master|develop' | xargs git branch -d
    # fetch
    fc = fetch
    # push
    ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
    # pull
    pl = !git pull origin $(git rev-parse --abberv-ref HEAD)
    ub = pull --rebase origin master # update branch
    # stash
    save = stash save
    load = !git stash list | fzf --select-1 --preview='' | awk -F ':' '{print $1}' | xargs git stash apply
    drop = !git stash list | fzf --select-1 --preview='' | awk -F ':' '{print $1}' | xargs git stash drop
    # reset
    rs = reset
    go = !git-fzf-reset
    undo   = reset --soft HEAD^
    cancel = reset --hard HEAD^
    # restore
    rstr = !git status -s | fzf --preview='' | awk '{print $2}' | xargs git restore
    # log
    df     = !git hist | fzf --select-1 --preview='' | awk '{print $2}' | xargs -I {} git diff {}^ {}
    lg     = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
    hist   = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
    browse = !git-browse # ~/bin/git-browse    
    # github
    pr = !gh pr view --web

[core]
    excludesfile = ~/.gitignore
    preloadindex = true

[color]
    ui = auto

[ghq]
    root = ~/go/src
	root = ~/Development/
[ghq "https://github.com/Fablic"]
    root = ~/Fablic/

[github]
	user = craft-cat

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[init]
	defaultBranch = main

[merge]
    tool = vscode
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vscode"]
    cmd = '/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code' \"$MERGED\"
    trustExitCode = false
